@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --green: #447662;
  --light-green: #6fbb9d;
  --color-primary: #fff4c6;
  --primary-shadow: #dfc86e;
  --grey: #eee;
  --dark-grey: #5c5c5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(235, 250, 243, 0.24);
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 10em;
  max-width: 400px;
  height: 250px;
  padding: 20px 20px;
  background-color: var(--color-primary);
  box-shadow: 2px 2px 5px var(--primary-shadow);
}

.title {
  font-size: 20px;
  color: var(--light-green);
  margin: 2rem 0 1rem 0;
}

.number {
  font-size: 45px;
  font-weight: 200;
  color: var(--dark-grey);
}

button {
  margin-top: 1rem;
  width: 150px;
  height: 30px;
  border: none;
  background-color: var(--green);
  border-radius: 5px;
  color: var(--grey);
  font-weight: 600;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.461);
}

button:hover {
  opacity: 80%;
  transition: 0.3s;
  cursor: pointer;
}

button:active {
  opacity: 60%;
}

.about-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.about a {
  color: var(--light-green);
  text-decoration: underline;
  cursor: pointer;
}

.about a:hover {
  color: var(--green);
  transition: 0.3s;
}

.about-group img {
  width: 20px;
  opacity: 60%;
  margin-left: 10px;
}

.about-group img:hover {
  opacity: 30%;
  transition: 0.3s;
}
